@model IEnumerable<MvcPL.Models.UserDetailsViewModel>

@{
    ViewBag.Title = "Users";
}

@section Header {
    <h2>All users</h2>
}

@section Body {
    <hr/>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Roles)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model) {
                        <tr class="@(item.IsBlocked ? "danger" : "")">
                           <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <span>@String.Join(" | ", item.Roles.Select(t => t.ToString()))</span>

                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "User", new { userId = item.Id }, new { @class = "btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>
}
