@model MvcPL.Models.EditFileViewModel
@using(Html.BeginForm("Edit", "File", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "form-edit" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">@Html.LabelFor(model => model.Name)</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Html.LabelFor(model => model.Description)</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Html.LabelFor(model => model.IsShared)</label>
            <div class="col-md-6 form-inline">
                @Html.CheckBoxFor(model => model.IsShared, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>
@if (!ViewBag.isDialog) {
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </div>
}
    </div>

}
