@model MvcPL.Models.TableViewModel
@{
    ViewBag.Title = "Files";
}
@section Header {
        @if(Model.UserId.HasValue) {
            <h2 id ="header">
                User's files:
            </h2>
        } else {
            <h2 id ="header">
                Public files:
            </h2>
        }
}
@section Body{
    <hr />
    <div class="form-group text-center">
        <div class="col-md-12 form-block">
            <div class="col-md-7">
                @using (Html.BeginForm("Index", "File", FormMethod.Get)) {
                    @Html.HiddenFor(m => m.UserId, new {Value = Model.UserId})
                    <div class="search_form">
                        <input type="text" id="search" onkeyup="searchFiles(); return false;" name="search" class="form-control input-sm" maxlength="64" placeholder="Search" value="@Model.SearchSubString">
                        <button type="submit" id="btnSearch" class="btn btn-primary btn-sm">Search</button>
                    </div>
                }
            </div>
            @if (Model.UserId.HasValue) {
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.ActionLink("+", "Create", "File", new {userId = @Model.UserId}, new {@class = "btn btn-primary btn-sm",id= "lnkCreate", onclick = "createFileModalWindow(); return false;"})
                    </div>
                </div>
                   }
        </div>

    </div>

    <div id="table">
        @Html.Partial("_FileTable", Model)
    </div>

}
@section Scripts {
    <script>
        function searchFiles() {
            var search = $("#search").val();
            var userId = $("#UserId").val();
            $.ajax({
                type: "POST",
                url: "/File/Index",
                data: {
                    "search": search,
                    "userId": userId
                },
                cache: false,
                success: function (response) {
                    $("#table").html(response);
                }
            });
        }
    </script>
}




