@using MvcPL.Infrastructure.Mappers
@model MvcPL.Models.UserEditViewModel
@{
    ViewBag.Title = "Edit Profile";
}

@section LeftMenu{
    @Html.Partial("_LeftMenu")
}
@section Body{
    <div id ="edituser">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="mainInfo">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Edit profile:</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                @if(Model.OldPhoto != null) {
                                    @Html.Raw("<img class=\"img-circle\" style = \"height: 200px; width: 200px;\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.OldPhoto.ImageToByteArray()) + "\" />")
                                } else {
                                    <img src="~/Content/images/default_avatar.png" class="img-circle" />
                                }
                            </div>
                            <div class="col-lg-8">
                                @using(Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                                    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-7 form-inline text-left">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg" })
                                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            @Html.LabelFor(m => m.Photo, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8 form-inline text-left">
                                            <div class="input-group">
                                                <input type="text"style ="float: left; width: 210px;" class="form-control input-lg" placeholder="Select your avatar" id="inputFileVisible">
                                                <input type="file" style="display: none" name="Photo" id="inputFile"/>
                                                <button class="btn btn-primary" style ="float: right; margin-left: 9px; margin-top: 7px;"type="button" id="inputFileBtn">Browse</button>
                                            </div>
                                            </div>
                                        </div>
                                    

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary" value="Save" />
                                        </div>
                                    </div>
                                }
                                @using(Html.BeginForm("EditPassword", "User", FormMethod.Post, new { id = "editPasswordForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) {
                                    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8 form-inline text-left">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", required = "true" })
                                            @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8 form-inline text-left">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", required = "true" })
                                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-8 form-inline text-left">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", id = "NewPasswordConfirm" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { id = "confirmMessage", @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary" value="Save" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

                            </div>
        </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/register.js"></script>
}
